* {
    /* box-sizing: border-box; */
    font-family: "Roboto", sans-serif; 
}

body,html { 
    background-color: #36454F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30vh; 
}

li {
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    font-size: 1.5rem;
}

#messages {
    list-style-type: none;
}

#input{
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1;
    height: 2rem; 
    border-radius: 2rem;
    margin: 1rem; 
}

.chat {
    margin: 1rem; 
}

.button { 
    border: 3px solid black; 
    width: 100px; 
    height: 50px; 
    border-radius: 25px;
    transition: all 0.5s;
    margin: auto; 
    background: white;
    font-size: auto;
}

.buttons {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    margin: auto; 
}

.button:hover {
    background-color: black;
    color: white; 
    cursor: pointer; 
}

#board1 {
    width: 800px; 
}