* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

body,html { 
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 10px;
    background-color: #36454F; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30vh; 
}

.button { 
    border: 3px solid black; 
    width: 100px; 
    height: 50px; 
    border-radius: 25px;
    transition: all 0.5s;
    background: white;
    font-size: auto;
}

.buttons {
    display: flex; 
    flex-direction: column;
    padding: 15px; 
}

.button:hover {
    background-color: black;
    color: white; 
    cursor: pointer; 
}

.label { 
    margin: 10px 0px 75px 0px; 
    padding: 0 3px; 
    letter-spacing: 1px;
    font-size: 5rem;
}

.input input {
    min-width:200px; 
    min-height: 40px; 
    display: flex;
    text-align: center;
    justify-content: center; 
    border:none; 
    outline: none;
    border-radius: 20px;
}